<div class="flex-grow md:overflow-y-auto px-6 py-12 lg:px-8">
	<main class="container md:container mx-auto">
		<div class="md:mx-auto w-full bg-white overflow-x-auto md:block">
			<div class="hero min-h-screen">
				<div class="hero-content flex-col lg:flex-row-reverse">
					<div class="text-center lg:text-left">
						<h1 class="text-5xl font-bold">Welcome to OCTA</h1>
						<p class="py-6">sign in with your account</p>
					</div>
				</div>
				<section class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
					<form class="card-body" action="connect" method="post">
						<div class="form-control">
							<label class="label">
								<span class="label-text">Username</span>
							</label>
							<input 
								type="text" 
								placeholder="username"
								name="username"
								class="input input-bordered w-full max-w-xs" required />
						</div>
						<div class="form-control">
							<label class="label">
								<span class="label-text">Password</span>
							</label>
							<input 
								type="password" 
								name="password"
								placeholder="password" 
								class="input input-bordered w-full max-w-xs" required />
						</div>
						<div class="form-control mt-4">
							<button class="btn btn-primary text-white" type="submit">LOGIN</button>
						</div>
					</form>
				</section>
			</div>
		</div>
	</main>
</div>
