<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{#if title}}{{title}}{{else}}Online{{/if}}</title>
	<link href="./css/styles.css" rel="stylesheet" />
</head>
<body>
	<div class="flex h-screen flex-col md:flex-col md:overflow-hidden">
		<div class="w-full flex-none md:w-full">
			{{> navbar}}
		</div>
		<div class="flex-grow p-6 md:overflow-y-auto md:p-12">
			<main class="container md:container mx-auto">
				<div class="md:mx-auto w-full bg-white">
					{{> content}}
				</div>
			</main>
		</div>
	</div>
</body>
</html>
