<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		{{#if viewData.title}}
			{{viewData.title}}
		{{else}}OCTA
		{{/if}}
	</title>
	<link href="https://cdn.jsdelivr.net/npm/daisyui@4.6.0/dist/full.min.css" rel="stylesheet" type="text/css" />
	<!--script src="https://cdn.tailwindcss.com"></script-->
	<link href="{{ cssHelper 'styles.css' }}" rel="stylesheet" type="text/css" />
</head>
<body>
	<main>
	<div class="flex h-screen flex-col md:flex-col md:overflow-hidden">
		<div class="w-full flex-none md:w-full">
			{{> navbar }}
		</div>
		<div class="flex-grow p-6 md:overflow-y-auto md:p-12">
			<main class="container md:container mx-auto">
				<div class="md:mx-auto w-full bg-white">
					{{{body}}}
				</div>
			</main>
		</div>
	</div>
	</main>
</body>
</html>
