<div class="navbar bg-primary text-white">
	<div class="flex-1">
		<a href="#" class="text-3xl">
		{{#if subtitle}}{{subtitle}}{{else}}OCTA{{/if}}
		</a>
	</div>
	<div class="flex-none">
		<div class="dropdown dropdown-end">
			<div tabindex="0" role="button" class="btn btn-ghost avatar">
			 ACCOUNT
			</div>
			<ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
				<li class="text-black">MASTER ACCOUNT</li>
				<li class="text-black">LIST ACCOUNT</li>
				<li class="text-black">ACCOUNT HANDLE</li>
			</ul>
		</div>
		<div class="dropdown dropdown-end">
			<div tabindex="0" role="button" class="btn btn-ghost avatar">
			 CALLS
			</div>
			<ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
				<li class="text-black">LIST CALLS</li>
				<li class="text-black">LAST ACTION</li>
			</ul>
		</div>
		<div class="dropdown dropdown-end">
			<div tabindex="0" role="button" class="btn btn-ghost avatar">
			 REPORT
			</div>
			<ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
				<li class="text-black">LIST PTP</li>
				<li class="text-black">PRODUCTIVITY</li>
				<li class="text-black">PORTOFOLIO</li>
			</ul>
		</div>
		<div class="dropdown dropdown-end">
			<div tabindex="0" role="button" class="btn btn-ghost avatar">
			 ADMINISTRATION
			</div>
			<ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
				<li class="text-black">IMPORT DATA CUSTOMER</li>
				<li class="text-black">USERS</li>
				<li class="text-black">ACTION</li>
				<li class="text-black">MATCH DPT</li>
			</ul>
		</div>
		<div class="dropdown dropdown-end">
			<div tabindex="0" role="button" class="btn btn-ghost avatar">
				PROFILE
			</div>
			<ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
				<li class="text-black">Settings</li>
				<li class="text-black">Logout</li>
			</ul>
		</div>
	</div>
</div>
